    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Locatio</h2>
              <br/>
                <p>When hunting for a house, finding out about a neighbourhood often relies on word-of-mouth and local knowledge that is hard to access or simply inaccurate.</p>
                <p>We’re solving this problem by augmenting online property listings with hyper-local data that gives you critical information at a glance, saving time and letting you make a more informed decision.</p>
                <p>The data is sourced from a wide range of locations, including the New Zealand Census and police crime statistics. A free browser extension has be created that formats and visualises this data, displaying it to home buyers as they browse property listings on TradeMe.</p>
                <br/>
              </div>
        </div>
    </section>
